{% extends 'main/base.html' %}
{% block content %}
	<div class="content">
		<div class="fontGrS text-center" id="title">
			Correction Commandes WES
		</div>
		<div class="col-12">
			<div class="mt40px"></div>
			<div class="row">
				<div class="offset-lg-3 col-lg-6 col-12 offset-md-1 col-md-10">
					{% if form.errors %}
					    {% for field in form %}
					        {% for error in field.errors %}
					            <p> {{ error }} </p>
					        {% endfor %}
					    {% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="mt40px"></div>
				<div class="col-12" style="padding-left:40px;padding-right:40px;">
					<form method="post">
						<div class="row">
							<div class="offset-lg-3 col-lg-6 col-12 offset-md-1 col-md-10 zoneForm" style=padding-top:40px;>
								<div class=" col-12">
									{{ form.email }}
								</div>
								<div class="mt20px"></div>
								<div class=" col-12">
									{{ form.numTel }}
								</div>
								<div class="mt20px"></div>
								<div class="col-12">
									<h6>Choisissez votre nouveau menu:</h6>
								</div>
								<div class="mt20px"></div>
								<div class=" col-12">
									{% for menu in form.menu %}
										<div class="form-check-inline">{{ menu }}</div>
									{% endfor %}
								</div>
								<div class=" col-12">
									{% for boisson in form.boisson %}
										<div class="form-check-inline">{{ boisson }}</div>
									{% endfor %}
								</div>
								<div class="mt20px"></div>
								<div class=" col-12">
									<input type="submit" value="Submit" class="btn btn-primary mb-2">
								</div>
		   						{% csrf_token %}
		   						<div class="mt40px"></div>
		    				</div>
	    				</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}