{% extends 'main/base.html' %}
{% block content %}
	<div class="col-12 content">
		<div class="fontGrS text-center" id="title">
			Organigramme V2
		</div>
		{% load static %}
		<div class="row" id="President"  >
			<div class="col-12 offset-md-4 col-md-4"  >
				<div id="card">
					<div id="imgs" class="row text-center">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im21.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im20.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center"><img src="{% static 'main/img/laurel.png' %}" height=35px> President</div>
						<div id="name" class="col-12 text-center">
							Aymen Khoutir  
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="AllVp"  >
			<div class="col-12 col-md-4"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center"><img src="{% static 'main/img/laurel.png' %}" height=35px> VP Bachelor</div>
						<div id="name" class="col-12 text-center">
							Maelle Felgines
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center"><img src="{% static 'main/img/laurel.png' %}" height=35px>VP IMT-BS</div>
						<div id="name" class="col-12 text-center">
							Rayan Kafih
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center"><img src="{% static 'main/img/laurel.png' %}" height=35px>VP TSP</div>
						<div id="name" class="col-12 text-center">
							Virgil Cohen-Solal
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="SecretariatTresorie"  >
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center"><img src="{% static 'main/img/laurel.png' %}" height=35px> Secretariat</div>
						<div id="name" class="col-12 text-center">
							Mohammed El Mzouti
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Secretariat</div>
						<div id="name" class="col-12 text-center">
							Prenom Nom
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center"><img src="{% static 'main/img/laurel.png' %}" height=35px> Tresorie</div>
						<div id="name" class="col-12 text-center">
							Hamza Ouhhabi
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Tresorie</div>
						<div id="name" class="col-12 text-center">
							Wassim Gattoufi
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="Re"  >
			<div class="col-12 col-md-4"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center"><img src="{% static 'main/img/laurel.png' %}" height=35px> Relation Entreprise</div>
						<div id="name" class="col-12 text-center">
							Anais Le Gourierec
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Relation Entreprise</div>
						<div id="name" class="col-12 text-center">
							Vincent Tchoumba
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Relation Entreprise</div>
						<div id="name" class="col-12 text-center">
							Prenom Nom
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="Soiree"  >
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center"> <img src="{% static 'main/img/laurel.png' %}" height=35px>Soiree</div>
						<div id="name" class="col-12 text-center">
							Jeffrey Phaitus
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Soiree</div>
						<div id="name" class="col-12 text-center">
							Anissa Le Breton
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Soiree</div>
						<div id="name" class="col-12 text-center">
							Prenom Nom
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Soiree</div>
						<div id="name" class="col-12 text-center">
							Prenom Nom
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="Communication"  >
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center"> <img src="{% static 'main/img/laurel.png' %}" height=35px>Communication</div>
						<div id="name" class="col-12 text-center">
							Jean-Guy Damongeot
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Communication</div>
						<div id="name" class="col-12 text-center">
							Lucile Brunel
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Communication</div>
						<div id="name" class="col-12 text-center">
							Lucas Da Silva
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Communication</div>
						<div id="name" class="col-12 text-center">
							Prenom Nom
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>	
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row" id="PreventionSeculog"  >
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center"><img src="{% static 'main/img/laurel.png' %}" height=35px>Prevention</div>
						<div id="name" class="col-12 text-center">
							Prenom Nom
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Prevention</div>
						<div id="name" class="col-12 text-center">
							Prenom Nom
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center"><img src="{% static 'main/img/laurel.png' %}" height=35px>Secu-Log</div>
						<div id="name" class="col-12 text-center">
							Prenom Nom
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Secu-log</div>
						<div id="name" class="col-12 text-center">
							Prenom Nom
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="SweiStand"  >
			<div class="col-12 col-md-4"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center"><img src="{% static 'main/img/laurel.png' %}" height=35px>SWEI/WES/WEA</div>
						<div id="name" class="col-12 text-center">
							Prenom Nom
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">SWEI/WES/WEA</div>
						<div id="name" class="col-12 text-center">
							Prenom Nom
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center"><img src="{% static 'main/img/laurel.png' %}" height=35px>Stand</div>
						<div id="name" class="col-12 text-center">
							Prenom Nom
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="DDWebHS"  >
			<div class="col-12 col-md-6"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center"><img src="{% static 'main/img/laurel.png' %}" height=35px>DD</div>
						<div id="name" class="col-12 text-center">
							Prenom Nom
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>	
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="col-12 col-md-4"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> style="height:500px; width:auto"
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center"><img src="{% static 'main/img/laurel.png' %}" height=35px>HS</div>
						<div id="name" class="col-12 text-center">
							Prenom Nom
							<a href="#" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="#" class="disableAEffect"><i class="fab fa-instagram"></i></a>						
						</div>
					</div>
				</div>
			</div> -->
			<div class="col-12 col-md-6"  >
				<div id="card">
					<div id="imgs" class="row">
						<div id="imgZone" class="position-relative text-center">
							<img class="imgOff" src="{% static 'main/img/ImRi1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/ImRi0.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center"><img src="{% static 'main/img/laurel.png' %}" height=35px>Web</div>
						<div id="name" class="col-12 text-center">
							<a href="{% url 'main:orga2Eff' %}" style="color:inherit;text-decoration:none">Louis Mauquie</a>
							<a href="https://www.facebook.com/louis.mauquie" target="_blank" class="disableAEffect"><i class="fab fa-facebook-square"></i></a>
							<a href="https://www.instagram.com/jeanmichlazone/" target="_blank" class="disableAEffect"><i class="fab fa-instagram"></i></a>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'main/js/jquery.js' %}"></script>
	<script>
		$(function() {
			$('.imgOn').hover(function() {
				$(this).parent().find("img.imgOff").css('opacity', '100%');
			}, function() {
				// on mouseout, reset.
				$(this).parent().find("img.imgOff").css('opacity', '0%');
			});
		});
	</script>
{% endblock %}