{% extends 'main/base.html' %}
{% block content %}
	<div class="col-12 content">
		<div class="fontGrS text-center" id="title">
			Jakitunning
		</div>
		{% load static %}
		<div class="row" id="President"  >
			<div class="col-12 offset-md-4 col-md-4"  >
				<div id="card" >
					<div id="imgs" class="row text-center" style="height:235px;">
						<div id="imgZone" class="text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im21.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im20.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">President</div>
						<div id="name" class="col-12 text-center">
							Aymen Khoutir  
							<a href="#" style="color:inherit"><i class="fab fa-facebook-square"></i></a>
							<a href="#" style="color:inherit"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="AllVp"  >
			<div class="col-12 col-md-4"  >
				<div id="card" >
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class="text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">VP Bachelor</div>
						<div id="name" class="col-12 text-center">Maelle Felgines</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4"  >
				<div id="card" >
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">VP IMT-BS</div>
						<div id="name" class="col-12 text-center">Rayan Kafih</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4"  >
				<div id="card" >
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">VP TSP</div>
						<div id="name" class="col-12 text-center">Virgil Cohen-Solal</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="SecretariatTresorie"  >
			<div class="col-12 col-md-3"  >
				<div id="card" >
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Secretariat</div>
						<div id="name" class="col-12 text-center">Mohammed El Mzouti</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card" >
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Secretariat</div>
						<div id="name" class="col-12 text-center">Prenom Nom</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Tresorie</div>
						<div id="name" class="col-12 text-center">Hamza Ouhhabi</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card" >
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Tresorie</div>
						<div id="name" class="col-12 text-center">Wassim Gattoufi</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="Re"  >
			<div class="col-12 col-md-4"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Relation Entreprise</div>
						<div id="name" class="col-12 text-center">Anais Le Gourierec</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Relation Entreprise</div>
						<div id="name" class="col-12 text-center">Vincent Tchoumba</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Relation Entreprise</div>
						<div id="name" class="col-12 text-center">Prenom Nom</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="Soiree"  >
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Soiree</div>
						<div id="name" class="col-12 text-center">Jeffrey Phaitus</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Soiree</div>
						<div id="name" class="col-12 text-center">Anissa Le Breton</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Soiree</div>
						<div id="name" class="col-12 text-center">Prenom Nom</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Soiree</div>
						<div id="name" class="col-12 text-center">Prenom Nom</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="Communication"  >
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Communication</div>
						<div id="name" class="col-12 text-center">Jean-Guy Damongeot</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Communication</div>
						<div id="name" class="col-12 text-center">Lucile Brunel</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Communication</div>
						<div id="name" class="col-12 text-center">Lucas Da Silva</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Communication</div>
						<div id="name" class="col-12 text-center">Prenom Nom</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row" id="PreventionSeculog"  >
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Prevention</div>
						<div id="name" class="col-12 text-center">Prenom Nom</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Prevention</div>
						<div id="name" class="col-12 text-center">Prenom Nom</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Secu-Log</div>
						<div id="name" class="col-12 text-center">Prenom Nom</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Secu-log</div>
						<div id="name" class="col-12 text-center">Prenom Nom</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="SweiStand"  >
			<div class="col-12 col-md-4"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">SWEI/WES/WEA</div>
						<div id="name" class="col-12 text-center">Prenom Nom</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">SWEI/WES/WEA</div>
						<div id="name" class="col-12 text-center">Prenom Nom</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Stand</div>
						<div id="name" class="col-12 text-center">Prenom Nom</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="DDWebHS"  >
			<div class="col-12 col-md-4"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">DD</div>
						<div id="name" class="col-12 text-center">Prenom Nom</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/Im2.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/Im1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">HS</div>
						<div id="name" class="col-12 text-center">Prenom Nom</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4"  >
				<div id="card">
					<div id="imgs" class="row" style="height:235px;">
						<div id="imgZone" class=" text-center" name="card">
							<img class="imgOff" src="{% static 'main/img/ImRi1.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto;"/>
							<img class="imgOn" src="{% static 'main/img/ImRi0.png' %}" alt="Jul Jul Jul" style="height:235px; width:auto"/> <!-- style="height:500px; width:auto" -->
						</div>
					</div>
					<div id="text" class="row textZone">
						<div id="role" class="fontGrS col-12 text-center">Web</div>
						<div id="name" class="col-12 text-center">Louis Mauquie</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'main/js/jquery.js' %}" type="text/javascript"></script>
	<iframe src="{% static 'main/music/music.mp3' %}" allow="autoplay" style="display:none" id="iframeAudio">
	</iframe>
	<script>
		$(document).ready(function () {
			//
			$("[name='card']").css({left:window.innerWidth-195,bottom:window.innerHeight-(window.innerHeight/2), position:'absolute'});
			$("[name='card']").height(195);
			$("[name='card']").throwable({gravity:{x:-0.1,y:-0.1},shape:"circle"});
			
			$('img.imgOn').height(195);
			$('img.imgOff').height(195);
			
		});
		$(function() {
			$('.imgOn').hover(function() {
				$(this).parent().find("img.imgOff").css('opacity', '100%');
			}, function() {
				// on mouseout, reset.
				$(this).parent().find("img.imgOff").css('opacity', '0%');
			});
			
		});
	</script>
{% endblock %}