{% extends 'main/base.html' %}
{% block content %}
		<div class="imgOrgaDiv">
			{% load static %}
			<img src="{% static '/main/img/Orga1.jpg' %}" class="imgOrga">
		</div>
		<!-- {% load static %}
		<div class="col-12">
			<div class="row">
				<div class="col-12">
					<div class="fontGrS" style="font-size:48px; text-align:center;">Organigramme</div>
				</div>
			</div>
				
			<div class="row" style="border:1px solid blue;height:600px;">
				<div class="col-12">
					<img src="{% static '/main/img/Orga1.jpg' %}" height=100% width=100%>
				</div>
			</div>
			
		</div> -->
{% endblock %}